@use "../../../styles/globals" as *;

.theme-toggle {
  @include square-size(3rem);
  border-radius: 500px;
  border: lightgray 3px solid;
  outline: 3px solid #fff;
  outline-offset: -5px;
  float: right;
  width: 6em;
  @include themify($themes) {
    background: linear-gradient(themed("text"), themed("text-offset"), #484554);
  }
  box-shadow: 2px 2px 3px 2px #999;

  &__icon svg {
    @include square-size(1.8rem);
    fill: #fff;
  }
}
