@use "../abstracts/" as *;
@use "../abstracts/colors" as *;
body,
main {
  margin: 0;
  padding: 0;
  max-width: 100%;
  //todo: add media query for dark and light
}
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

.theme-context {
  @include themify($themes) {
    background: themed("primary");
    color: themed("text");
  }
  height: 100vh;
}

.container {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}
